@import '_breakpoints';
/*=============== VARIABLES ===============*/

//FONT SIZE
$body-font-size: 1.6rem;
$font-size-title-h1: 3.2rem;
$font-size-footer:1.2rem;
$font-size-icon: 1.8rem;
$font-size-subtitle-h3:1.4rem;
$font-size-small: 1.4rem;
$font-size-smaller: 1.2rem;
$font-size-menu: 1.9rem;
$font-size-submenu: 1.5rem;


//FONTS WEIGHT
$font-weight-bold: 600;

//COLORS
$gray-color-ultralight:#E6E6E6;
$gray-color-light:#999999;
$gray-color-medium:#7c7c7c;
$gray-color-dark:#4d4d4d;
$black-color:#000000;
$black-medium-color:#212121;
$green-color:#BBD550;
$blue-color:#36AADD;
$white-color:#ffffff;

//BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1679px,
  xxxxl: 1919px
);


