/*=============== FOOTER ===============*/
@import '_variables';
@import '_breakpoints';

.footer{
  background-color: $gray-color-medium;
  width: 100%;
  height: 100%;
  padding-top: 2rem;



  &__content{
    padding: 0 2rem;
    width: 100%;
  }

  &__title{
      color: $white-color;
      text-align: center;
      font-size: $font-size-footer;
  }


  &__links,
  &__link{
    color: $white-color;
    li{
      padding-bottom: 1rem;
      list-style: disc;
      font-size: $font-size-footer;
    }
  }


  &__social{
    display: flex;
    justify-content: flex-end;
    padding-right: 26%;
    margin-top: 1rem;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;

      &-icon{
          font-size: $font-size-icon;
          color: $white-color;
      }
  }

  &__copy{
      background-color: $black-color;
      padding: 1rem 0;
      text-align: center;
      color: $white-color;
      margin: 0;
      font-size: $font-size-smaller;
  }

  @include media-breakpoint-up(sm){
    &__title{
      text-align: right;
    }

    &__social{
      padding-right: 16%;
    }
  }

  @include media-breakpoint-up(lg){
    &__social{
      padding-right: 10%;
    }
  }
}
