<footer class="footer">
  <div class="d-flex justify-content-between px-4 container-xl">
    <div class="footer__content">
      <ul class="footer__links">
        <li><a href="#" class="footer__link">Acerca de nosotros</a></li>
        <li><a href="#" class="footer__link">Descarga tu poliza</a></li>
        <li><a href="" download="Terminos-y-condiciones.pdf" class="footer__link">Terminos y condiciones</a></li>
      </ul>
    </div>

    <div class="footer__content">
      <h5 class="footer__title">siguenos en nuestras redes sociales</h5>
      <div class="footer__social">
        <a class="footer__social-icon" target="_blank" href="https://facebook.com"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a class="footer__social-icon" target="_blank" href="https://instagram.com"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a class="footer__social-icon" target="_blank" href="https://youtube.com"><fa-icon [icon]="faYoutube"></fa-icon></a>
      </div>
    </div>

  </div>
  <p class="footer__copy">Copyright {{year}}</p>

</footer>
