@import '_variables';
@import '_breakpoints';

/*=============== HEADER ===============*/

.header{
  background-color: $gray-color-dark;
  /*=============== NAV ===============*/

  .navbar{
    justify-content: center;
    width: 100%;
    background-color: $gray-color-dark;

    &__logo{
      display: block;
      margin: 0 auto;
      width: 13rem;
      padding: 0 .8rem;
    }

    &__menu{
      background-color: $black-medium-color;
      padding: 1rem;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 100;
    }

    &__link{
      font-size: $font-size-menu;
      &::after{
        display: none;
      }
    }

    &__list--secondary{
      font-size: $font-size-submenu;
    }

    &__list,
    &__link,
    &__list--secondary{
      background-color: $black-medium-color;
      border: 0;
    }

    &__list--secondary{
      background-color: $black-medium-color;
      border: 0;
      list-style: disc;
      padding-left: 2rem;

      li:before{
        content: "\2022";
        color: $white-color;
        font-weight: $font-weight-bold;
        position: absolute;
        width: 0;
        height: 0;
        font-size: 1.8rem;
        margin-left: -5px;
      }
    }


    &__list,
    &__link,
    &__item--secondary{
      color:$gray-color-light;
    }

    &__toggle{
        font-size: 1.8rem;
        cursor: pointer;
        color:$white-color;

        .nabvar__icon{
          width: 25px;
          height: 2px;
          background-color: $white-color;
          display: block;
          transition: all 0.2s;
        }

        .middle-bar{
          margin: 5px auto;
        }

        /* State when navbar is open */
        .top-bar {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }

        .middle-bar {
          opacity: 0;
          filter: alpha(opacity=0);
        }

        .bottom-bar {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }

        /* State when navbar is close*/
        &.collapsed{
          .top-bar {
            transform: rotate(0);
          }
          .middle-bar {
            opacity: 1;
            filter: alpha(opacity=100);
          }

          .bottom-bar {
            transform: rotate(0);
          }
        }

        &:focus,
        &:active :focus {
          outline: none !important;
          box-shadow: none !important;
          border: 0 !important;
        }

    }
    /*=============== BREAK POINT NAVBAR ===============*/
    @include media-breakpoint-between(xs, md) {
      &__item{
        padding: 0 0rem 1.6rem 1rem;
        border-left: 2px solid;
      }
    }
    @include media-breakpoint-between(xs, lg) {
      &__menu{
        padding: 2rem;
      }

      &__link{
        display: flex;
        justify-content: space-between;

        &:nth-child(1){
          padding-top: 0;
        }
        &:last-child{
          padding-bottom: 0;
        }
        &.show{
          .ng-fa-icon{
            transform: rotate(180deg);
          }
        }
      }

      &__item{
        &:last-child{
          padding: 1rem 0 ;
        }

      }

    }

    @include media-breakpoint-up(lg){
      padding: 1.3rem 0;
      &__menu{
        position: relative;
        z-index: 0;
        background-color: $gray-color-dark;
        padding: .5rem;
        justify-content: flex-end;
      }

      &__logo{
        width: 28%;
      }

      &__list{
        width: 80%;
        justify-content: space-around;
      }

      &__list,
      &__link{
        background-color:$gray-color-dark;
      }

      &__link{
        color: $white-color;

        &:hover{
          border-bottom: .5px solid $white-color;
        }

      }
      &__item{
        padding: 1rem;
        .ng-fa-icon{
          display: none;
        }

        &:hover .navbar__list--secondary{
          display: block;
          top: 4.5rem;
        }

        .navbar__list--secondary{
          width: 100%;
          display: none;
          .navbar__item--secondary{
            &:hover{
              background-color: inherit;
              text-decoration: revert;
            }
          }
        }
      }

      .show{
        display: none;
      }
    }
  }

}
