<header class="header">
  <nav class="navbar navbar-expand-lg container-xl">

    <button (click)="showMenu()" class="navbar__toggle navbar-toggler collapsed" type="button" >
      <span class="nabvar__icon top-bar"></span>
      <span class="nabvar__icon middle-bar"></span>
      <span class="nabvar__icon bottom-bar"></span>
    </button>


    <a class="navbar__logo navbar-brand" href="#"><img src="../../../assets/images/logo-asegurados.svg" alt="Logo Asegurados"></a>

    <div class="navbar__menu collapse navbar-collapse" id="navbarNavDropdown">


      <ul class="navbar__list navbar-nav">

        <li class="navbar__item nav-item dropdown">
          <a (click)="showLinkFirst()" class="navbar__link menu__link--first nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acerca de nosotros
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <ul id="navbarListFirst" class="navbar__list--secondary dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="navbar__item--secondary dropdown-item" href="#">Misión</a></li>
            <li><a class="navbar__item--secondary dropdown-item" href="#">Visión</a></li>
          </ul>
        </li>

        <li class="navbar__item nav-item dropdown">
          <a (click)="showLinkSecond()" class="navbar__link menu__link--second nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Descarga tu Poliza
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </a>
          <ul id="navbarListSecond" class="navbar__list--secondary dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="navbar__item--secondary dropdown-item" href="#">poliza 1</a></li>
            <li><a class="navbar__item--secondary dropdown-item" href="#">poliza 2</a></li>
          </ul>
        </li>

        <li class="navbar__item nav-item">
          <a class="navbar__link nav-link" href="#" download="Terminos-y-condiciones.pdf">Términos y condiciones</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
