<main class="main">
  <section class="main__container-title">
    <h1 class="main__title font-weight-bold">Cotiza tu seguro automotriz</h1>
    <h3 class="main__subtitle">¡Resultados instantáneos!</h3>
  </section>
  <div class="main__container-blue"></div>
  <section class="main__container d-lg-flex mx-auto pb-xl-4">
    <section class="main__carousel carousel">

      <div data-interval="false" id="carouselExampleIndicators" class="main__carousel-content carousel slide" data-ride="carousel">
        <ol class="main__carousel-indicators carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">1</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">2</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">3</li>
          <span data-target="#carouselExampleIndicators3" data-slide-to=""></span>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/img-carrousel.svg" class="d-block w-100" alt="Imagen Carrousel">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/img-carrousel.svg" class="d-block w-100" alt="Imagen Carrousel">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/img-carrousel.svg" class="d-block w-100" alt="Imagen Carrousel">
          </div>
        </div>

        <div class="main__carousel-controls">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section>

    <section class="main__form">
      <form novalidate (ngSubmit)="onSave()" [formGroup]="contactForm" class="main__form-container">
        <div class="row">
          <div class="text-left col-12 px-1 mb-1 mb-xl-5">
            <label class="main__form-label d-xl-block" for="validationDefault01">Marca de auto</label>
            <select class="main__form-select custom-select" id="validationDefault01" formControlName="carBrand" [class]="isValidField('carBrand')">
              <option class="disabled" selected disabled value="">Marca de auto</option>
              <option>Mercedes Benz</option>
            </select>
            <div class="invalid-feedback">
              <span *ngIf="contactForm.get('carBrand').errors?.required">
                Campo requerido
              </span>
            </div>
          </div>

          <div class="text-left col-8 px-1 mb-1 mb-xl-5">
            <label class="main__form-label d-xl-block" for="validationDefault02">Modelo de auto</label>
            <select class="main__form-select custom-select" id="validationDefault02" formControlName="carModel" [class]="isValidField('carModel')">
              <option class="disabled" selected disabled value="">Modelo de auto</option>
              <option>GLE 450 4MATIC Coupé</option>
              <option>G 500 Biturbo</option>
            </select>
            <div class="invalid-feedback">
              <span *ngIf="contactForm.get('carModel').errors?.required">
                Campo requerido
              </span>
            </div>
          </div>

          <div class="text-left col-4 px-1 mb-1 mb-xl-5">
            <label class="main__form-label d-xl-block" for="validationDefault03">Año</label>
            <select class="main__form-select custom-select" id="validationDefault03" formControlName="year" [class]="isValidField('year')">
              <option class="disabled" selected disabled value="">Año</option>
              <option>2019</option>
              <option>2020</option>
            </select>
            <div class="invalid-feedback">
              <span *ngIf="contactForm.get('year').errors?.required">
                Campo requerido
              </span>
            </div>
          </div>

          <div class="text-left col-12 px-1 mb-1 mb-xl-5">
            <label class="main__form-label d-xl-block" for="validationDefault04">Email</label>
            <input type="email" class="main__form-select form-control" id="validationDefault04" placeholder="Email" formControlName="email" [class]="isValidField('email')">
            <div class="invalid-feedback">
              <span *ngIf="contactForm.get('email').errors?.required">
                Campo requerido
              </span>
              <span *ngIf="contactForm.get('email').errors?.pattern">
                Por favor ingrese un email valido
              </span>
            </div>
          </div>

          <div class="text-left col-12 px-1 mb-1 mb-xl-5">
            <label class="main__form-label d-xl-block" for="validationDefault05">Telefono</label>
            <ngx-intl-tel-input
            class="main__form-select form-control" id="validationDefault05"
            [class]="isValidField('phone')"
            [cssClass]="'custom'"
            [enablePlaceholder]="true"
            [selectedCountryISO]="CountryISO.Colombia" [maxLength]="10"
            [phoneValidation]="true"
            [numberFormat]="PhoneNumberFormat.National"
            name="phone"
            formControlName="phone">
          </ngx-intl-tel-input>
          <div class="invalid-feedback">
            <span *ngIf="contactForm.get('phone').errors?.required">
              Campo requerido
            </span>
            <span *ngIf="contactForm.controls.phone.invalid && !contactForm.get('phone').errors?.required">
              Su número es incorrecto o pertenece a otro país
            </span>
            </div>
          </div>

        </div>
        <button class="btn btn-primary main__form-button" type="submit">Cotizar ahora</button>
      </form>
    </section>
  </section>
</main>
