@import '_variables';
@import '_breakpoints';
@import '_mixins';


/*=============== MAIN ===============*/

.main{
  min-height: 90vh;

  &__container-title{
    padding: 3rem 0;

    .main__title{
      color: $blue-color;
      font-size: $font-size-title-h1;
    }
    .main__subtitle{
      color: $gray-color-light;
      font-size: $font-size-subtitle-h3;
      font-weight: $font-weight-bold;
    }

  }

  &__title,
  &__subtitle{
    text-align: center;
  }

   /*=============== CAROUSEL ===============*/
   &__carousel{
      width: 100%;

    &-content{
      position: relative;
    }

     &-indicators{
       background-color: $white-color;
       counter-reset: li;
       width: 5rem;
       padding: 0.5rem 0rem;
       border: solid 1px black;
       font-weight: $font-weight-bold;
       font-size: $font-size-smaller;
      @include abs(7% 0% auto -8%);


       li{
        margin: 0 2px;
        width: auto;
        height: auto;
        border: none;
        background-color: transparent;
        counter-increment: li;
        display: none;

        &.active{
          width: auto;
          height: auto;
          text-indent: 0;
          background-color: transparent;
          display: block;
          &:last-child{
           text-indent: 0;
          }
        }
       }


     }

    &-controls{

      .carousel-control-next{
        left: 10rem;
        background-image: url('../../../assets/images/arrow-carrousel.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }

      .carousel-control-prev{
        left: 4rem;
        background-image: url('../../../assets/images/arrow-carrousel.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transform: rotate(180deg);
      }
      .carousel-control-prev,
      .carousel-control-next{

        top: 80%;
        width: 4.5rem;

        &.active{
          opacity: 1;
          &:hover{
            opacity:1;
          }
        }

        &:hover,
        &:focus{
          opacity:.5;
        }
      }

      .carousel-control-next-icon,
      .carousel-control-prev-icon{
        display: none;
      }

    /*=============== CONTROLS ===============*/
    @include media-breakpoint-between(xs, sm) {
      .carousel-control-prev,
      .carousel-control-next{
        display: none;
      }
    }
    }
   }

  /*=============== FORM ===============*/

  &__form{
    margin: 0 auto;
    text-align: center;
    background-color: $gray-color-ultralight;
    padding: 2rem;

    &-label{
      color: $gray-color-light;
      text-align: left;
      display: none;
    }

    &-select{
      color: $gray-color-light;
      font-size: $font-size-small;
      border: none;
      border-radius: 0;
      &.custom-select{
        cursor: pointer;
        background: $white-color url('../../../assets/images/icon-arrown-down.svg') no-repeat right 0.75rem center/15px;
      }
      &::placeholder {
        color: $gray-color-light !important;
      }
    }

    &-button{
      min-width: 100%;
      background-color: $green-color;
      color: $white-color;
      font-size: $body-font-size;
      font-weight: $font-weight-bold;
      margin-top: 1rem;
      padding: 1rem 1.2rem;
      border:none;
      outline: none;
      box-shadow: 0 2px 0px  darken($green-color,10%);
      border-bottom: 2px solid darken($green-color,11%);

    }


    /*=============== BREAK POINT FORM ===============*/
    @include media-breakpoint-between(xs, sm) {
      width: 85%;
      @include abs(39rem f0 auto 0%);
    }

    @include media-breakpoint-between(sm, md) {
      width: 60%;
      @include abs(47rem f0 auto 0%);
    }


    @include media-breakpoint-between(md, lg) {
      width: 40%;
      @include abs(30rem f0 auto 40%);

    }

    @include media-breakpoint-up(md){
      &-button{
        width: 70%;
      }

    }

    @include media-breakpoint-up(xl){
      width: 48%;
      padding: 1.5rem 4rem;
      z-index: 1;
      &-select{
        font-size: 1.5rem;
      }

    }

  }

  @include media-breakpoint-up(xl){
    min-height: 80vh;
    &__container{
      max-width: 1140px;
    }
    &__container-blue{
      background-color: $blue-color;
      position: absolute;
      height: 6rem;
      width: 100%;
    }
  }

  @include media-breakpoint-up(xxxl){
    &__container{
      max-width: 1250px;
    }
  }

  @include media-breakpoint-up(xxxxl){
    &__container{
      max-width: 1500px;
    }
  }


}
