
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import '_variables';
/*=============== BASE ===============*/

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  min-height: 100%;

}

body {
  color: $black-color;
  box-sizing: border-box;
  color: $black-color;
  transition: 0.5s;
  line-height: 1;
  font-size: $body-font-size;
  font-family:'Open Sans', sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 3.2rem;
}


ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input{
  color: $gray-color-medium;
}

/*=============== POP UP ===============*/
.swal2-popup{
  font-size: $font-size-subtitle-h3 !important;
}
.swal2-styled{
  &.swal2-confirm{
    background-color: $blue-color !important;
    &:focus{
      box-shadow: none !important;
    }
  }
}

@include media-breakpoint-up(xxxl){
  .container-xl{
    max-width: 1250px;
  }
}


@include media-breakpoint-up(xxxxl){
  .container-xl{
    max-width: 1500px;
  }
}
